@import url('https://fonts.googleapis.com/css?family=Arimo');

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
	font-family: "Arimo", "Times New Roman", Times, serif;
}

header, main, footer {
	text-align: center;
}

header {
	background-color: #f9f9f9;
}

a:link, a:visited, a:hover, a:active {
	color: #333;
	text-decoration: none;
	font-weight: bold;
}

.header h1 {
	text-transform: uppercase;
	font-size: 1.5em;
	color: #333;
	margin: 0;
	padding: 20px 0 15px;
}

.main-nav ul {
	list-style-type: none;
	padding: 0;
}

.main-nav li {
	margin: 10px auto;
	text-transform: uppercase;
	color: #333;
	background-color: #fff;
	width: 95%;
	padding: 5px 0;
}

.main-heading {
	margin-top: 30px;
	padding-bottom: 20px;
}

.main-heading img {
	width: 75%;
	margin: 5px auto;
}

.main-heading p, .col p {
	width: 90%;
	margin: 10px auto;
	color: #b5b5b5;
}

.col {
	margin-bottom: 20px;
}

main img {
	width: 90%;
}

.contact {
	margin-top: 5em;
	padding-top: 20px;
	padding-bottom: 20px;
}

.contact, footer {
	background-color: #f9f9f9;
}

.contact p {
	width: 90%;
	color: #b5b5b5;
	margin: 0 auto 30px;
}

footer {
	border-top: solid 1px lightgrey;
	height: 50px;
	padding-bottom: 10px;
}

footer p, footer nav {
	margin: 20px 10px;
}

footer p {
	float: left;
}

footer nav {
	float: right;
}

.bottom-nav-items {
	display: none;
}

@media (min-width: 768px) {

	.main-nav ul {
		display: inline-block;
		width: 50%;
		margin: 10px auto;
	}

	.main-nav li {
		display: inline;
		background-color: inherit;
		margin: 0 1em;
	}

	.main-heading p {
		float: left;
		width: 55%;
		padding: 2em .5em;
		margin: 10px auto;
		font-size: 1.2em;
		text-align: justify;
		word-spacing: -2px;
	}

	.main-heading img {
		float: right;
		width: 40%;
		margin-right: 5px;
	}

	main {
		overflow: hidden;
	}

	.col {
		margin-bottom: 2em;
	}

	.col-1 {
		float: left;
		width: 50%;
	}

	.col-2 {
		float: right;
		width: 50%;
	}

	.contact {
		padding-top: 2em;
	}

	.contact h2 {
		width: 100%;
	}

	#toTop {
		display: none;
		margin: 0;
	}

	footer {
		padding-bottom: 3em;
	}

	.bottom-nav-items {
		display: inline-block;
		padding-right: 2em;
	}
}